<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Hexo文稿</string>
	<key>Summary</key>
	<string>便于编写hexo格式的markdown文档</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>BuildableType</key>
	<string>None</string>
	<key>DefaultCompletionName</key>
	<string>文稿名</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>输入文稿名称</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>文稿名称:</string>
			<key>NotPersisted</key>
			<false/>
			<key>Required</key>
			<false/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>文稿</string>
			<key>Description</key>
			<string>手动选择撰稿类型</string>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>MainTemplateFiles</key>
			<dict>
				<key>文稿</key>
				<string>___FILEBASENAME___.md</string>
				<key>草稿</key>
				<string>___FILEBASENAME___.md</string>
				<key>用例图</key>
				<string>___FILEBASENAME___.md</string>
				<key>时序图</key>
				<string>___FILEBASENAME___.md</string>
				<key>类图</key>
				<string>___FILEBASENAME___.md</string>
				<key>状态图</key>
				<string>___FILEBASENAME___.md</string>
				<key>组件图</key>
				<string>___FILEBASENAME___.md</string>
				<key>活动图</key>
				<string>___FILEBASENAME___.md</string>
				<key>播客</key>
				<string>___FILEBASENAME___.md</string>
			</dict>
			<key>Name</key>
			<string>撰稿类型:</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>文稿</string>
				<string>草稿</string>
				<string>用例图</string>
				<string>时序图</string>
				<string>类图</string>
				<string>活动图</string>
				<string>状态图</string>
				<string>组件图</string>
				<string>播客</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
