<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildableType</key>
	<string>None</string>
	<key>DefaultCompletionName</key>
	<string>草稿</string>
	<key>Description</key>
	<string>描述：使用Xcode编辑hexo文档的模版</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.md</string>
	<key>Summary</key>
	<string>内容：使用Xcode编辑hexo文档的模版</string>
</dict>
</plist>
